html, body{
    height: 100%;
    width: 100%;
    color:white;
}
#home{
    background: url(../images/travel.jpg) no-repeat 50% 50%;
    display: table;
    height: 100%;
    width: 100%;
    background-size: cover;
}
.landing-text{
    display: table-cell;
    vertical-align: middle;
    text-align: center; 
}
h1{
    font-size: 700%;
    line-height: 0.9;
    color: white;
    font-family: "sofia";
}
h3{
    font-size: 260%;
    font-weight: 500;
    line-height: 1.2;
    color: orangered;
    font-family: "sofia";
    text-align: center;
}
.btn-success{
    background-color: white;
    color: tomato;
    font-size: 160%;
    font-weight: 500;
}
.btn-success :hover{
color: white;
background-color: black;
}

